body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

.menu-button {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    width: 50%;
}

.game-board {
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


/* for game board tiles*/
.game-board div {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#easy-board {
    width: 400px;
    height: 400px;
} 

#normal-board {
    width: 600px;
    height: 600px;
} 

#hard-board {
    width: 1000px;
    height: 600px;
} 

.number-one {
    color: blue;
}

.number-two {
    color: green;
}

.number-three {
    color: red;
}

.number-four {
    color: darkblue;
}

.number-five {
    color: darkred;
}

.number-six {
    color: darkcyan
}

.number-seven {
    color: black;
}

.number-eight {
    color: burlywood;
}
