body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    color: #FFD700;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

/* menu header */
.menu-header {
    font-size: 56px;
    text-decoration: underline;
    margin-bottom: 2px;
}


/* for all buttons */
.menu-button {
    font-size: large;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    width: 25%;
    color: #FFD700;
    background-color: #3d3a3a;
    border: 2px solid #DAA520;
}

.menu-button:hover {
    background-color: #a07e28;
}

.over {
    width: 80%;
}

/* for how to play page */
#div-instruct {
    margin: auto;
    padding: 1rem;
    width: fit-content;
}

#ul-instruct {
    list-style-type: none;
    text-align: center;
    font-size: large;
}

#ul-instruct li {
    padding: 1rem;
    background-color: #3d3a3a;
    border: 2px solid #DAA520;
}

.li-one {
    color: #FFD700;
}

.li-two {
    color: #f7b842;
}

/* for game board*/
.game-board {
    border: 10px solid #DAA520;
    background-color: #1C1C1C;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* for game board tiles*/
.game-board div {
    width: 48px;
    height: 48px;
    border: 1px solid #DAA520;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board :hover {
    background-color: #6d630b;
}

.revealed {
    background-color: #4a4848;  
}

.revealed-mine {
    background-color: #c88d0f;  
}

#mine-pressed {
    width: 90%;
    height: 90%;
}

#flag {
    width: 80%;
    height: 80%;
}

.flag-counter {
    font-size: 20px;
    margin-top: 0;
}

.flag-counter > img {
    width: 25px;
    height: 25px;
    padding-right: 5px;
}

#easy-board {
    width: 400px;
    height: 400px;
} 

#normal-board {
    width: 600px;
    height: 600px;
} 

#hard-board {
    width: 1000px;
    height: 600px;
} 

.number-one {
    color: #FFD700;
}

.number-two {
    color: #FFA500;
}

.number-three {
    color: #FF8C00;
}

.number-four {
    color: #FF4500;
}

.number-five {
    color: #FF6347;
}

.number-six {
    color: #CD5C5C;
}

.number-seven {
    color: #A52A2A;
}

.number-eight {
    color: #800000;
}

/*game over display */
#game-over-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #DAA520;
    background: #3d3a3a;
    width: 40%;
}


/* win menu display */
#win-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #DAA520;
    background: #3d3a3a;
    width: 30%;
    font-size: large;
    margin: 2px;
}

#win-menu > p {
    margin: 2px;
    margin-top: 5px;
    padding: 1rem;
}

#fname {
    border: 3px solid #DAA520;
    background: #3d3a3a;
    color: #FFD700;
    padding: 0;
    font-size: large;
    text-align: center;
    width: 40%;
    margin: 2px;
    padding: 5px;
}

#submit-btn {
    border: 3px solid #DAA520;
    background: #3d3a3a;
    color: #FFD700;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: large;
    text-align: center;
    width: 40%;
    padding: 5px;
}

#submit-btn:hover {
    background-color: #a07e28;    
}

/*leaderboard html page */
.l-board {
    width: 30%;
    font-size: 18px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px;
}

.l-board ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.l-board li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-board li span {
    border: 1px solid #DAA520;
    background: #3d3a3a;
    flex: 1;
    text-align: center;
}

#l-head {
    font-size: 22px;
}
