body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    color: #FFD700;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

/* for all buttons */
.menu-button {
    font-size: large;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    width: 25%;
    color: #FFD700;
    background-color: #3d3a3a;
    border: 2px solid #DAA520;
}

.game-board {
    border: 10px solid #DAA520;
    background-color: #1C1C1C;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


/* for game board tiles*/
.game-board div {
    width: 48px;
    height: 48px;
    border: 1px solid #DAA520;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board :hover {
    background-color: #6d630b;
}

.revealed {
    background-color: #2E2E2E;  
}

.revealed-mine {
    background-color: #c88d0f;  
}

#mine-pressed {
    width: 90%;
    height: 90%;
}

#flag {
    width: 75%;
    height: 75%;
}

/* .game-board :onclick {
    background-color: aquamarine;
} */

#easy-board {
    width: 400px;
    height: 400px;
} 

#normal-board {
    width: 600px;
    height: 600px;
} 

#hard-board {
    width: 1000px;
    height: 600px;
} 

.number-one {
    color: #FFD700;
}

.number-two {
    color: #FFA500;
}

.number-three {
    color: #FF8C00;
}

.number-four {
    color: #FF4500;
}

.number-five {
    color: #FF6347;
}

.number-six {
    color: #CD5C5C
}

.number-seven {
    color: #A52A2A;
}

.number-eight {
    color: #800000;
}

/*for web pages only */
#game-over-menu {
    position: absolute;
    border: 3px solid black;
    background: dimgray;
    width: 20%;
    left: 39.9%;
    top: 20%;
}

#win-menu {
    position: absolute;
    border: 3px solid black;
    background: dimgray;
    width: 20%;
    left: 39.9%;
}

.l-board {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px;
}

.l-board ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.l-board li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-board li span {
    border: 1px solid black;
    flex: 1;
    text-align: center;
}
